body { 
  	background-color: lightBlue;
  	margin: 50px;
  	padding: 30px;
  	opacity:0.95;
}

html {
	background-image: url('/static/background.jpg'); 
    background-repeat:no-repeat;
    background-size:100% 100%;
    min-height:100%;
    min-width:100%;
}

.offset {
	margin: 2%;
	font-size: 150%;
}

h1 {
	margin-bottom: 3%;
}

#logout {
	text-align: right;
	position:relative;
	top: 30px;
}

li {
	font-size: 50%;
}